@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.swiper-pagination-bullets {
  display: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.swiper-container {
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-scrollbar {
  display: none;
}

.btnList::-webkit-scrollbar {
  display: none;
}

.Toastify__toast-container {
  z-index: 9999 !important;
}

.toastWallet {
  @apply !z-50 !rounded-lb !border !border-primary !bg-background !text-white !shadow-xl;
}

.Toastify__progress-bar {
  @apply !bg-primary 
}

.Toastify__close-button--light {
  color: #17a246 !important;
}

/* LoadingEllipses */
.loader-dots div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader-dots div:nth-child(1) {
  left: 8px;
  animation: loader-dots1 0.6s infinite;
}

.loader-dots div:nth-child(2) {
  left: 8px;
  animation: loader-dots2 0.6s infinite;
}

.loader-dots div:nth-child(3) {
  left: 32px;
  animation: loader-dots2 0.6s infinite;
}

.loader-dots div:nth-child(4) {
  left: 56px;
  animation: loader-dots3 0.6s infinite;
}

.shadow-background {
  background: linear-gradient(
    270deg,
    rgba(16, 20, 25, 0) 30%,
    rgba(16, 20, 25, 0.7) 95%
  );
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scrollbar-thin::-webkit-scrollbar {
  display: block;
  width: 5px !important;
  height: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111B21;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1FBC53;
  transition: all 0.2s;
}

@keyframes loader-dots1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes loader-dots3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes loader-dots2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.white-filter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(218deg)
    brightness(400%) contrast(80%);
}

/* fix safari full height searchbar*/
@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }

  .min-h-screen {
    min-height: -webkit-fill-available;
  }
}

.carousel-prev,
.carousel-next {
  display: none !important;
}
