.EventItem {
  color: black !important;
}
.EventItem .Details__ParticipantName {
  color: black !important;
}

.EventItem .Details__ParticipantName{
    color: black !important;
}

/*IFrame Width on iOS v12 is not properly set, therefore the following CSS should be applied*/
/*it's safe for all browsers */
.SportsIframe {
    margin: 0;
    padding: 0;
    border: 0;
    width: 1px;
    min-width: 100%;
}
